{% extends 'frontend/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="header-container">
            <div class="video-container">
                <video preload="auto" autoplay="true" loop="loop" muted="muted" poster="{{ asset('images/logohd.ico') }}">
                    <source src="{{ asset('video/Video_de_heavy_cut.mp4') }}" type="video/mp4">
                </video>
                <div class="slogan">
                    <h3>{{ 'heavy.website.slogan'|trans }}</h3>
                </div>
            </div>
        </div>
        <div class="content-section">
            <h1>{{ 'heavy.homepage.welcome'|trans }}</h1>
            {{ 'heavy.homepage.about_us'|trans|raw }}
        </div>
        <hr>
        <div id="services" class="container-fluid text-center">
            <h2>{{ 'heavy.homepage.our_expertise'| trans }}</h2>
            <br>
            <div class="row slideanim">
                <div class="col-sm-4">
                    <h4>Proximité avec le client</h4>
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
                <div class="col-sm-4">
                    <h4>Satisfaction client</h4>
                    <span class="glyphicon glyphicon-thumbs-up logo-small"></span>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
                <div class="col-sm-4">
                    <h4>rapport qualité/prix</h4>
                    <span class="glyphicon glyphicon-eur logo-small"></span>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
            </div>
            <br><br>
            <div class="row slideanim">
                <div class="col-sm-4">
                    <h4>Kilométrage illimité</h4>
                    <span class="glyphicon glyphicon-road logo-small"></span>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
                <div class="col-sm-4">
                    <h4>Expertise</h4>
                    <span class="glyphicon glyphicon-wrench logo-small"></span>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
                <div class="col-sm-4">
                    <h4>Confiance</h4>
                    <span class="glyphicon glyphicon-ok logo-small"></span>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

