{% extends "frontend/base.html.twig" %}
{% block body %}

<div class="container-fluid">
    <div class="col-md-12 text-center">
        <h1>{{ 'heavy.service.title'| trans }}</h1><br><br>
    </div>
    <div class="col-md-12">
        <table>
            <div class="panel panel-default text-center">
                <h2>Mini Cooper S</h2>
                <h4>Choississez votre formule</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitchrono'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitchronocomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>99€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweekend'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekendcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>499€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweek'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>659€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
         </table>
        <!-- deuxieme tableau-->
        <table>
            <div class="panel panel-default text-center">
                <h2>Range Rover Evoque</h2>
                <h4>Choississez votre formule</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitchrono'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitchronocomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>199€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweekend'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekendcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>849€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweek'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>1199€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <!-- troisieme tableau-->
        <table>
            <div class="panel panel-default text-center">
                <h2>Porshe Cayman S</h2>
                <h4>Choississez votre formule</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitchrono'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitchronocomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>199€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweekend'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekendcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>849€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweek'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>1359€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <!-- quatrieme tableau-->
        <table>
            <div class="panel panel-default text-center">
                <h2>Mercedes ML63</h2>
                <h4>Choississez votre formule</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitchrono'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitchronocomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>299€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweekend'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekendcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>1199€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweek'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>1599€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <!--cinquieme tableau-->
        <table>
            <div class="panel panel-default text-center">
                <h2>Bentley Continental</h2>
                <h4>Choississez votre formule</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitchrono'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitchronocomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>499€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweekend'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekendcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>1799€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{ 'heavy.service.forfaitweek'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ 'heavy.service.forfaitweekcomment'|trans }}
                        </div>
                        <div class="panel-footer">
                            <h2>{{ 'heavy.service.kilometrage'|trans }}</h2>
                            <h3>3299€</h3>
                            <button class="btn btn-lg">{{ 'heavy.service.reserver'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>
{% endblock %}