<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content=" ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Heavy-Drive | Location de voiture de luxe - Kilométrage illimité !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/vendor.css') }}" />
            <link rel="stylesheet" href="{{ asset('styles/front.css') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logohd.ico') }}" />
    </head>
    {% block header %}{{ include('frontend/header.html.twig') }}{% endblock %}
    <body>
        {% block nav %}{{ include('frontend/navbar.html.twig') }}{% endblock %}
        {% block body %}{% endblock %}
        <footer>
            {% block footer %}
                {{ include('frontend/footer.html.twig') }}
            {% endblock %}
        </footer>
        {% block javascripts %}
            <script src="{{ asset('javascripts/vendor.js') }}"></script>
            <script src="{{ asset('javascripts/front.js') }}"></script>
        {% endblock %}
    </body>
</html>

