<footer class="footer navbar-fixed">
    <div class="mainfooter">
        <div class="mainfooter__top-panel">
            <div class="globalwidth">
                <div class="column">
                    <h3 class="mainfooter__title">{{ 'heavy.footer.title'|trans }}</h3>
                    <h4 class="mainfooter__subtitle">{{ 'heavy.footer.subtitle'|trans }}</h4>
                </div>
            </div>
        </div>
        <div class="mainfooter__bottom-panel">
            <div class="globalwidth">
                <div class="column">
                    <div class="footernavigation">
                        <div class="col-sm-4 text-center">
                            <h3>{{ 'heavy.footer.get_started'|trans }}</h3>
                            <ul>
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#">vehicule</a></li>
                                <li><a href="#">Qui sommes nous</a></li>
                                <li><a href="#">Gallerie</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3>{{ 'heavy.footer.about_us'|trans }}</h3>
                            <ul>
                                <li><a href="#">L'entreprise</a></li>
                                <li><a href="#">Nos véhicules</a></li>
                                <li><a href="{{ path('service') }}">Nos services</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3>{{ 'heavy.footer.support'|trans }}</h3>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contactez nous</a></li>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="col-sm-12 text-center" id="footer-copyright">
            <p>{{ 'heavy.footer.copyright'|trans }}</p>
        </div>
    </div>
</footer>