<!-- Page Content -->
<div class="container">
    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('images/cayen.jpg') }}" alt="">
                <div class="panel-body">
                    <h3>Feature Label</h3>
                    <p>5 places</p>
                    <p>A partir de 99€</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('details') }}" class="btn btn-primary">Détails et tarifs</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('images/cayen.jpg') }}" alt="">
                <div class="panel-body">
                    <h3>Feature Label</h3>
                    <p>5 places</p>
                    <p>A partir de 99€</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('details') }}" class="btn btn-primary">Détails et tarifs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('images/cayen.jpg') }}" alt="">
                <div class="panel-body">
                    <h3>Feature Label</h3>
                    <p>5 places</p>
                    <p>A partir de 99€</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('details') }}" class="btn btn-primary">Détails et tarifs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('images/cayen.jpg') }}" alt="">
                <div class="panel-body">
                    <h3>Feature Label</h3>
                    <p>5 places</p>
                    <p>A partir de 99€</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('details') }}" class="btn btn-primary">Détails et tarifs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('images/cayen.jpg') }}" alt="">
                <div class="panel-body">
                    <h3>Feature Label</h3>
                    <p>5 places</p>
                    <p>A partir de 99€</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('details') }}" class="btn btn-primary">Détails et tarifs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('images/cayen.jpg') }}" alt="">
                <div class="panel-body">
                    <h3>Feature Label</h3>
                    <p>5 places</p>
                    <p>A partir de 99€</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('details') }}" class="btn btn-primary">Détails et tarifs</a>
                </div>
            </div>
        </div>
    </div>
</div>