<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="">
            <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="{{ path('details') }}">Détails</a>
        </h3>
        <p>description</p>
    </div>
</div>
<!-- /.row -->