{% extends "frontend/base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <h2 class="centered">Inscription</h2>
        <hr class="star-light">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary panel-register">
                <div class="panel-heading">{{ 'heavy.register.description' | trans }}</div>
                <div class="panel-body">
                    <form role="form" method="post" action="" accept-charset="UTF-8">

                        <label for="fname">{{ 'heavy.register.firstname' | trans }}</label>
                        <input type="text" id="fname" class="form-control" name="fname" placeholder="">

                        <label for="lname">{{ 'heavy.register.lastname' | trans }}</label>
                        <input type="text" id="lname" class="form-control" name="lname" placeholder="">

                        <label for="gender" class="m-t-10">{{ 'heavy.register.gender' | trans }}</label>
                        <select id="gender" class="form-control" name="gender">
                            <option value="unknown">Unknown</option>
                            <option value="alabama">{{ 'heavy.register.female' | trans }}</option>
                            <option value="alaska">{{ 'heavy.register.male' | trans }}</option>
                        </select>
                        <label for="states" class="m-t-10">{{ 'heavy.register.city' | trans }}</label>
                        <select id="states" class="form-control" name="state">
                            <option value="unknown">Unknown</option>
                        </select>
                        <label for="emailaddr" class="m-t-10">{{ 'heavy.register.mail' | trans }}</label>
                        <input type="text" id="emailaddr" class="form-control" name="email" placeholder="{{ 'heavy.register.mailexample' | trans }}">
                        <label for="password" class="m-t-10">{{ 'heavy.register.password' | trans }}</label>
                        <input type="password" id="password" class="form-control" name="password" placeholder="{{ 'heavy.register.writepassword' | trans }}">

                        <label for="verifypass" class="m-t-10">{{ 'heavy.register.password' | trans }}</label>
                        <input type="password" id="confirmpass" class="form-control" name="verifypass" placeholder="{{ 'heavy.register.rewritepassword' | trans }}">
                        <br>

                        <center><input type="submit" class="btn btn-primary m-t-10" id="submitbtn" name="submit" value="{{ 'heavy.register.signup' | trans }}"></center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}